[mysql80-community]
name=MySQL 8.0 YUM Repo
#mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=extras&infra=$infra
baseurl=http://repo.mysql.com/yum/mysql-8.0-community/el/8/x86_64/
gpgcheck=1
enabled=1
gpgkey=file:http://repo.mysql.com/RPM-GPG-KEY-mysql
